<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Update</title>
    </head>
    <body>
        <form action="/update" method="POST">
            <input type="hidden" name="index" value="<%= index %>" />
            <input type="text" name="name" value="<%= title %>" placeholder="Enter name" />
            <br /><br />
            <input type="text" name="desc" value="<%= desc %>" placeholder="Enter Description" />
            <br /><br />
            <input type="text" name="idVideo" value="<%= idVideo %>" placeholder="Enter id video" />
            <br /><br />
            <input type="text" name="image" value="<%= image %>" placeholder="Enter image filname" />
            <br /><br />
            <button>Submit</button>
            <hr />
            <img src="images/background/<%= image %>" width="300" />
        </form>
    </body>
</html>
